{% extends 'base.html' %}
{% block my %}active{% endblock my %}
{% block content %}
            <div class="container center">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form id="form-group" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Name" name="name"
                                       value="{{ name }}">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="description" placeholder="Description"
                                       value="{{ description }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Photo url</label>
                                <input type="text" name="photo_url" class="form-control" placeholder="Photo url"
                                       value="{{ photo_url }}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Url redirection</label>
                                <input type="text" name="redirect" class="form-control" placeholder="Redirect url"
                                       value="{{ redirect_url }}">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>

{% endblock content %}
